<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/delete/" method="post">
    {% for id in ids -%}
        <input type="radio" id={{ id }} name="to_delete" value={{ id }}>
        <label for={{ id }}>{{ id }}</label><br>
    {% endfor %}
    <br><input type="submit" value="Submit">
</form>
</body>
</html>