<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<form action="/edit/" method="post">
    {% for id_name in ids_names -%}
        <input type="text" id={{ id_name[0] }} name={{ id_name[0] }} value={{ id_name[1] }}>
        <label for={{ id_name[0] }}>:{{ id_name[0] }}</label><br>
    {% endfor %}
    <br><input type="submit" value="Submit">
</form>
</body>
</html>