<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bekony</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{url_for('static', filename='img/staszek_logo.jpg')}}" align="middle" width="500" />
    <h3>Known beacons:</h3>
    <ul>
    {% for bekon_id, bekon_name in bekons -%}
        <li><a href="{{ url_for('show', bekon_id=bekon_id) }}">{{ bekon_name }}</a></li>
    {% endfor %}
    </ul>
    <br>
    <div>
    <form action="/register/" method="get">
        <button type="submit">Register</button>
    </form>
    <form action="/edit/" method="get">
        <button type="submit">Edit</button>
    </form>
    <form action="/delete/" method="get">
        <button type="submit">Delete</button>
    </form>
    </div>
</body>
</html>