<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    {% for value in values -%}
        <tr>
            {% for v in value -%}
                <td>{{ v }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    <br>
    <form action="/" method="get">
        <button type="submit">Powrót</button>
    </form>
</table>
</body>
</html>