button {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  color: black;
  width: 100px;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

label {
  padding: 10px 10px 10px 10px;
}

html, body{
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  height: 100%;
  width: 100%;
  margin: 10px;
}


li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
